<h3 class="mb-4">Tambah Pelanggan</h3>
<form class="" action="index.html" method="post">
  <div class="form-group">
    <label for="customerNameInput">Nama</label>
    <input type="text" id="customerNameInput" placeholder="Masukan nama" class="form-control">
  </div>
  <div class="form-group">
    <label for="customerInformationTextArea">Informasi</label>
    <textarea placeholder="Masukan informasi" id="customerInformationTextArea" class="form-control" rows="8"></textarea>
  </div>
  <button type="submit" class="btn btn-primary m-2">Tambah</button>
  <button type="submit" class="btn btn-outline-primary">Batal</button>

</form>
