<h3 class="mb-2">Pelanggan</h3>
<div class="row">
  <div class="col-md-6">
    <form ng-submit="searchCustomers(customerSearchKeyword)" class="form-inline" >
      <input type="search" ng-model="customerSearchKeyword" class="form-control mr-sm-2 mt-2" placeholder="Cari Pelanggan">
      <button type="submit"  class="btn btn-outline-primary mt-2" >Cari</button>
    </form>
  </div>

</div>
<div ng-if="customers == null" class="alert alert-warning mt-3 ">
  Tidak ditemukan pelanggan
</div>
<table ng-if="customers.length > 0" class="table mt-2">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th class="w-40" scope="col">Nama</th>
      <th class="w-20" scope="col">Terdaftar</th>
      <th class="w-40"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="c in customers">
      <th>{{pageNumber * customersLimit + $index +1}}</th>
      <td>{{c.name}}</td>
      <td>{{c.date_added}}</td>
      <td>
        <button type="button" class="btn btn-outline-primary mb-2" ng-click="goToEditCustomerPage(c)" >Ubah</button>
        <button type="button" class="btn btn-outline-primary mb-2" ng-click="viewCustomer(c)" name="button">Lihat</button>
      </td>
    </tr>
    <tr ng-if="previousCustomersURL != '' || nextCustomersURL != ''">
      <td colspan="100%">
        <button ng-click="getNextCustomersList()"
        type="button"
        ng-if="nextCustomersURL != ''"
        class="btn btn-outline-primary mb-2 position-absolute"
        style="">Selanjutnya</button>

        <button ng-click="getPreviousCustomersList()"
        type="button"
        ng-if="previousCustomersURL != ''"
        class="btn btn-outline-primary mb-2 position-absolute"
        style="left:150px;">Sebelumnya</button>
      </td>
    </tr>
  </tbody>
</table>
