<h3>Pengaturan</h3>
  <form class="" ng-submit="editCompanyInformation()" >
    <table class="table">
      <thead>
        <tr>
          <th class="h4">Informasi Perusahaan</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Nama</th>
        </tr>
        <tr>
          <td>
            <input type="text" class="form-control" ng-model="companyInformation.company_name" placeholder="Masukkan nama ">
          </td>
        </tr>
        <tr>
          <th>Kontak</th>
        </tr>
        <tr>
          <td>
            <input type="text" class="form-control" ng-model="companyInformation.company_contact" placeholder="Masukkan kontak">
          </td>
        </tr>
        <tr>
          <td>
            <button type="submit" class="btn btn-primary m-2" name="button">Simpan</button>
            <ui-view style='transition:3s'></ui-view>
          </td>
        </tr>
      </tbody>
  </form>
</table>
